.menu {
    height: 50px;
    display: flex;
    align-items: stretch;
}

.menuItem {
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: .5s all ease;
}

.menuItem:hover {
    background-color: #C5C5C5;
    color: black;
}
