.tabPane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.carousel {
    width: 48px;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderHeaderInfo {
    display: flex;
    align-items: center;
    gap: 150px;
}

.buttonCancelOrder {
    background-color: red;
    border: none;
}

.changeEmailAndPass {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.orders {
    margin-bottom: 10px;
}

.image {
    object-fit: cover;
}

.carouselBig {
    width: 64px;
}

.productsBig {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productBig {
    display: flex;
    align-items: center;
    gap: 10px;
}
