.wrapper_select_files {
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #F0F2F5;
}

.display_none {
    display: none;
}

.files {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: stretch;
}

.file {
    padding: 3px 5px;
    margin: 1px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file button,
.file button span,
.file button:hover span {
    background-color: #F0F2F5;
}

.file:hover,
.file:hover button,
.file:hover button span {
    background-color: #1890FF;
}

.file button svg {
    color: black;
}

.file button:hover svg,
.file button span:hover svg {
    color: red;
}
