.wrapperLoginForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 400px;
    padding: 70px 50px;
    border-radius: 10px;
    background-color: #333333;
}

.title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: start;
}

.white {
    color: white;
}

.rememberMe {
    float: left;
}

.forgotPass {
    float: right;
}

.submit {
    width: 100%;
}
